<section class="section-register">
<h1>Cadastre o seu produto</h1>
<form method="post" action="/register" enctype="multipart/form-data">
<label>Nome do produto: <input name="name" placeholder="nome do produto" type="text"/></label>
<label>valor: R$<input name="price" placeholder="valor" type="number"/></label>
<label>Descriçao: <textarea name="description"></textarea></label>
<label>Anexar imagem do produto: <input type="file" name="file"></label>
<input type="submit" value="Cadastrar">
</form>
</section>
